/* Overall container styles */
.banner-container {
    width: 100%;
    padding: 0 2rem;
    
    background: linear-gradient(to right, #e3f2fd, #bbdefb);
    overflow: hidden;
}

/* Content layout */
.banner-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.banner-text {
    text-align: left;
    padding: 1rem;
    animation: fadeInText 1s ease-in-out;
}

.banner-text > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.banner-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #0d47a1;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.banner-text h1 span {
    font-size: 2.5rem;
    color: #2196f3;
}

.banner-text p {
    color: #424242;
    font-size: 1rem;
    line-height: 1.6;
}

.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
}

.banner-image img:hover {
    transform: scale(1.05) rotate(2deg);
}

/* Button styles */
.banner-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(33, 150, 243, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.banner-button:hover {
    background-color: #1769aa;
    transform: translateY(-3px);
}

/* Media Queries */
@media (min-width: 576px) {
    .banner-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-text h1 {
        font-size: 2.5rem;
    }

    .banner-text p {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .banner-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-text h1 {
        font-size: 3rem;
    }
}

/* Animation Keyframes */
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
