/* Search Bar Styles */
#searchBar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 60px 20px;
}

#searchBar h3 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.category-select {
  width:90px;
  height: auto;
  margin-right: 5px;
}

.search-input {
  border-radius: 50px 0 0 50px;
  padding: 15px 20px;
  font-size: 18px;
  border: 2px solid #ffffff;
  outline: none;
  width: clamp(300px, 50%, 800px);
  color: #333;
  background-color: #ffffff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #42e695;
}

.search-button {
  border-radius: 0 50px 50px 50px;
  padding: 12px 30px;
  background-color: #0d6efd;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.search-button:hover {
  background-color: #0a58ca;
  transform: scale(1.05);
}

/* Suggestion Box */
.list-group {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(300px, 50%, 800px);
  max-height: 250px;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.list-group-item {
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item:hover {
  background-color: #007bff;
  color: #ffffff;
}

.list-group-item.active {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
}

/* Responsive Adjustments for Smaller Screens */
@media (max-width: 992px) {
  #searchBar {
    padding: 40px 10px;
  }

  .search-input {
    width: 140%;
    padding: 12px;
  }

  .search-button {
    padding: 12px 20px;
    font-size: 16px;
  }

  #searchBar:before {
    gap: 25px;
    background-size: 30px 30px;
  }
}

@media (max-width: 768px) {
  .list-group {
    max-height: 200px;
    width: 95%;
  }

  .list-group-item {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #searchBar {
    height: 200px;
  }

  .search-input {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .search-button {
    padding: 10px;
    font-size: 14px;
  }

  #searchBar:before {
    gap: 20px;
    background-size: 25px 25px;
  }
}

@media (max-width: 480px) {
  .category {
    width: 100%;
  }

  .search-input {
    width: 600%;
    font-size: 12px;
    padding: 10px;
  }

  .search-button {
    padding: 10px;
    font-size: 12px;
  }

  #searchBar:before {
    gap: 20px;
    background-size: 20px 20px;
  }
}
